# ══════════════════════════════════════════════════════════
#  GhostMusic Bot — Python Dependencies
# ══════════════════════════════════════════════════════════

pyrogram
TgCrypto
pytgcalls
yt-dlp
motor
pymongo
aiohttp
python-dotenv
spotipy
Pillow
