# ══════════════════════════════════════════════════════════
#  GhostMusic Bot — Python Dependencies
# ══════════════════════════════════════════════════════════

pyrogram==2.0.106
TgCrypto==1.2.5
pytgcalls==1.1.6
yt-dlp
youtube-search-python
motor
pymongo
aiohttp
python-dotenv
spotipy
Pillow
